.header {
    background-color: var(--bg-clr); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    position: relative;
    z-index: 10;
}
#menu, #earth-logo {
    width: 3.5rem;
    height: 3.5rem;
    z-index: 3; 
    position: relative; 
}
#logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    z-index: 3;
    position: relative; 
    color: var(--txt-hvr);
}
.orb-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1; 
    overflow-x: hidden;
}
.orb {
    position: relative; 
    border-radius: 50%;
    opacity: .5;
    will-change: transform, opacity;
    flex-shrink: 0;
    margin: 0 -150px;
    margin-top: -5rem; 
}
.orb.red {
    background: radial-gradient(circle,
    rgba(255, 0, 0, 0.369) 0%, rgba(255,0,0,0) 70%);
    width: 550px;
    height: 550px;
    top: -100px; 
}
.orb.orange {
    background: radial-gradient(circle,
    rgba(255, 238, 0, 0.8) 0%, rgba(255,165,0,0) 70%);
    width: 560px;
    height: 560px;
    top: -110px;
}
.orb.yellow {
    background: radial-gradient(circle,
    rgba(208, 255, 0, 0.8) 0%, rgba(255,255,0,0) 70%);
    width: 540px;
    height: 540px;
    top: -90px;
}
.orb.green {
    background: radial-gradient(circle,
    rgba(0, 210, 115, 0.8) 0%, rgba(0,128,0,0) 70%);
    width: 570px;
    height: 570px;
    top: -120px;
}
.orb.blue {
    background: radial-gradient(circle,
    rgba(0, 166, 255, 0.8) 0%, rgba(0,0,255,0) 70%);
    width: 555px;
    height: 555px;
    top: -105px;
}
.orb.purple {
    background: radial-gradient(circle,
    rgba(128, 0, 128, 0.313) 0%, rgba(255, 0, 255, 0) 70%);
    width: 565px;
    height: 565px;
    top: -115px;
}
.mobile-menu {
    position: absolute; 
    top: 70px; 
    left: 0;
    width: 100%; 
    height: 15rem; 
    background-color: var(--bg-clr);
    z-index: 9; 
    display: flex;
    align-items: center; 
    justify-content: start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    visibility: hidden; 
    opacity: 0; 
    transition: opacity 0s;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.mobile-menu.open {
    visibility: visible; 
    opacity: 1; 
}
.mobile-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 2.5rem;
}
.mobile-menu a {
    color: var(--txt);
    font-size: var(--size-xl);
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    font-weight: 550;
    transition: color 0.3s;
}
.mobile-menu a:hover {
    color: var(--txt-hvr);
}
#mobile-menu-bar {
    background-color: var(--txt);
    height: 1px;
    width: 10rem;
    margin: .7rem;
    margin-left: 1.2rem;
    margin-bottom: 1rem;
}
.theme-sun {
    width: var(--size-3xl);
    margin-left: 1rem;
}
