.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
    overflow: hidden;
}
#bg-grid {
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    background-image:
    linear-gradient(to right, var(--grid) 1px,
    transparent 1px),
    linear-gradient(to bottom, var(--grid) 1px,
    transparent 1px);
    background-size: 50px 50px; 
    mask-image: linear-gradient(
        to bottom,
        transparent, 
        black 10%,    
        black 90%,    
        transparent  
    ),
    linear-gradient(
        to right,
        transparent,
        black 10%,
        black 90%,
        transparent
    );
    mask-composite: intersect;
    -webkit-mask-composite: intersect;
}
#hero-title {
    color: var(--txt-hvr);
    margin-top: 7.5rem;
    text-align: center;
    font-size: var(--size-4xl);
    font-weight: 550;
    width: 12.7ch;
}
#hero-desc {
    color: var(--txt);
    font-size: var(--size-sm);
    margin-top: 2rem;
    font-weight: 500;
    width: 30ch;
    text-align: center;
}
.hero .btn {
    margin-top: 1.5rem;
}
#card-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 90%;
}
.hero-card {
    background: linear-gradient(var(--crd-upr-fde),
    var(--crd-btm-fde));
    border: 1px solid var(--crd-brdr);
    width: 17rem;
    border-radius: 25px;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateY(-50px);
}
.card-visible {
    animation: waveSlide 0.6s ease-out forwards; 
}
.hero-card:nth-child(1).card-visible {
    animation-delay: 0s;
}
.hero-card:nth-child(2).card-visible {
    animation-delay: 0.15s; 
}
.hero-card:nth-child(3).card-visible {
    animation-delay: 0.3s; 
}
.icon-container {
    background-color: #0f0f0f;
    height: 12rem;
    width: 14rem;
    border-radius: 25px;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-title {
    color: var(--txt-hvr);
    font-size: var(--size-2xl);
    text-align: center;
    margin-top: 1rem;
}
.card-desc {
    color: var(--txt);
    font-size: var(--size-sm);
    font-weight: 500;
    margin-top: 1rem;
    text-align: center;
    width: 27ch;
}
.bg-icon {
    width: 12rem;
    opacity: .3;
    position: absolute;
    z-index: 0;
}
.card-icon {
    width: 7.5rem;
    z-index: 1;
}

/* sm = (small) */
@media (min-width: 640px) {
    #hero-title {
        font-size: var(--size-5xl);
        width: 17ch;
    }
    #hero-desc {
        font-size: var(--size-base);
    }
    .hero-card {
        width: 100%;
    }
    .hero .btn {
        margin-top: 2rem;
    }   
}

/*  lg = (large)  */
@media (min-width: 1024px) {
    #card-container {
        flex-direction: row;
        justify-content: center;
        margin-top: 5rem;
    }
    .hero-card {
        width: 17rem;
        height: 23rem;
    }
}

/* xl = (extra large)  */
@media (min-width: 1280px) {
    #hero-title {
        font-size: var(--size-6xl);
        width: 17ch;
    }
    #hero-desc {
        font-size: var(--size-lg);
        width: 45ch;
        margin-top: 3rem;
    }
    .hero .btn {
        margin-top: 3rem;
    }  
}
