.memories {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#memories-sub-title {
    font-size: var(--size-xs);
    color: #0f0f0f;
    background-color: white;
    border: 1px solid #b8b8b8;
    border-radius: 50px;
    display: inline;
    padding: 5px;
}
#memories-title {
    color: var(--txt-hvr);
    font-size: var(--size-3xl);
    margin-top: 2rem;
}
#memories-desc {
    color: var(--txt);
    font-size: var(--size-sm);
    margin-top: .7rem;
    width: 30ch;
    text-align: center;
    font-weight: 500;
}
.memories .btn {
    margin-top: 2rem;
}

/* sm = (small) */
@media (min-width: 640px) {
    #memories-sub-title {
        font-size: var(--size-sm);
    }
    #memories-title {
        font-size: var(--size-4xl);
    }
    #memories-desc {
        font-size: var(--size-base);
        margin-top: 1rem;
        width: 38ch;
    }
}

/* xl = (extra large) */ 
@media (min-width: 1280px) {
    #memories-sub-title {
        font-size: var(--size-base);
    }
    #memories-title {
        font-size: var(--size-5xl);
    }
    #memories-desc {
        font-size: var(--size-lg);
        margin-top: 1.5rem;
        width: 45ch;
        margin-bottom: 2rem;
    }
}
