.photography {
    margin-top: 2.5rem;
    background-color: var(--phto-bg);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
#photo-title {
    color: white;
    font-size: var(--size-3xl);
    width: 15ch;
    text-align: center;
}
#photo-desc {
    color: var(--txt);
    font-size: var(--size-base);
    width: 28ch;
    text-align: center;
    margin-top: 1rem;
    font-weight: 500;
}
#photo-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
}
.photo-preview {
    width: 17rem;
    height: 10rem;
    background-color: black;
    border-radius: 25px;
    display: flex;
    overflow: hidden; 
    position: relative; 
}
.travel-img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: center; 
    opacity: .5;
}
.travel-title {
    color: white;
    position: absolute;
    bottom: 1rem;
    left: 1.5rem; 
    font-size: var(--size-lg);
    z-index: 1; 
}
#more-txt {
    color: var(--txt);
    text-align: center;
    margin-top: -.7rem;
    font-weight: 500;
}