.photography {
    margin-top: 2.5rem;
    background-color: var(--phto-bg);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
#photo-title {
    color: white;
    font-size: var(--size-3xl);
    width: 15ch;
    text-align: center;
}
#photo-desc {
    color: var(--txt);
    font-size: var(--size-base);
    width: 28ch;
    text-align: center;
    margin-top: 1rem;
    font-weight: 500;
}
#photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem;
}
.photo-preview {
    width: 17rem;
    height: 10rem;
    background-color: black;
    border-radius: 25px;
    display: flex;
    overflow: hidden; 
    position: relative; 
}
.photo-img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: center; 
    opacity: .5;
    z-index: 1;
}
.photo-title {
    color: white;
    position: absolute;
    bottom: 1rem;
    left: 1.5rem; 
    font-size: var(--size-sm);
    z-index: 1; 
}

/* sm = (small) */
@media (min-width: 640px) {
    .photography {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #photo-title {
        font-size: var(--size-4xl);
        width: 17.5ch;
    }
    #photo-desc {
        font-size: var(--size-lg);
        width: 35ch;
        margin-top: 1.5rem;
    }
    #photo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-top: 2.5rem;
        width: 90%;
    }
    .photo-preview {
        width: 100%;
    }
    .photo-title {
        font-size: var(--size-lg);
    }
}

/* lg = (large) */
@media (min-width: 1024px) {
    .photo-preview {
        height: 12rem;
    }
}

/* 2xl = (two extra large) */ 
@media (min-width: 1536px) {
    .photo-preview {
        height: 14rem;
    }
}
