.questions {
    background-color: var(--ques-bg);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    padding-top: 25px;
    padding-bottom: 25px;
}
#questions-sub-title {
    font-size: var(--size-base);
    text-align: center;
    font-weight: 500;
    color: var(--txt);
}
#questions-title {
    color: var(--txt-hvr);
    font-size: var(--size-3xl);
    text-align: center;
    margin-top: .7rem;
}
#questions-container {
    margin-top: 1rem;
}
.question {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sub-ques-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    margin: 14px;
    gap: 1.5rem;
    cursor: pointer;
}
.expand {
    font-weight: 500;
    color: var(--txt);
    background-color: var(--expnd);
    border-color: 50px;
    display: inline;
    font-size: var(--size-3xl);
    padding: 10px;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}
.answer {
    width: 30ch;
    padding-bottom: 15px;
    color: var(--txt);
    font-size: var(--size-sm);
    font-weight: 500;
}
.question-desc {
    font-size: var(--size-base);
    color: var(--txt);
    width: 20ch;
    font-weight: 500;
}
.question-bar {
    background-color: #475569;
    height: 1px;
}
