.questions {
    background-color: var(--ques-bg);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    padding-top: 25px;
    padding-bottom: 25px;
}
#questions-sub-title {
    font-size: var(--size-base);
    text-align: center;
    font-weight: 500;
    color: var(--txt);
}
#questions-title {
    color: var(--txt-hvr);
    font-size: var(--size-3xl);
    text-align: center;
    margin-top: .7rem;
    width: 14.5ch;
}
#questions-container {
    margin-top: 1rem;
}
.question {
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
}
.sub-ques-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%; 
    justify-content: space-between;
    margin: 14px;
    gap: 1.5rem;
    cursor: pointer;
    z-index: 1;
    position: relative; 
}
.expand {
    font-weight: 500;
    color: var(--txt);
    background-color: var(--expnd);
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    font-size: var(--size-3xl);
    padding: 10px;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid var(--crd-brdr);
}
.answer {
    max-width: 30ch; 
    width: 90%; 
    margin: 0 auto; 
    padding-bottom: 0; 
    color: var(--txt);
    font-size: var(--size-sm);
    font-weight: 500;
    overflow: hidden; 
    max-height: 0; 
    transition: max-height 0.25s ease-in,
    padding-bottom 0.25s ease-in; 
}
.answer.open {
    max-height: 500px; 
    padding-bottom: 15px; 
    padding-top: 5px;
}
.question-desc {
    font-size: var(--size-base);
    color: var(--txt);
    width: 20ch; 
    font-weight: 500;
}
.question-bar {
    background-color: #475569;
    height: 1px;
}

/* sm = (small) */
@media (min-width: 640px) {
    .questions {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #questions-sub-title {
        font-size: var(--size-lg);
    }
    #questions-title {
        font-size: var(--size-4xl);
        margin-top: 1rem;
        width: 22.5ch;
    }
    #questions-container {
        margin-top: 2rem;
    }
    .sub-ques-container {
        margin: 20px;
        gap: 2rem;
    }
    .question-desc {
        font-size: var(--size-lg);
        width: 30ch; 
    }
    .answer {
        max-width: 35ch; 
        width: 90%; 
        font-size: var(--size-base);
    }
}
