@import url('https://fonts.googleapis.com/css2?family=Anton&family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Comfortaa:wght@300..700&family=DM+Serif+Text:ital@0;1&family=Dosis:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    line-height: calc(1em + 8px);
}
:root {
    /* Color Theme */
    --bg-clr: white;
    --txt: #475569;
    --txt-hvr: black;
    --crd-brdr: rgba(0, 0, 0, 0.096);
    --crd-upr-fde: #edecf2ca;
    --crd-btm-fde: white;
    --phto-bg: #0f0f0f;
    --ques-bg: #edf5ff;
    --expnd: #d0e5ff;

    /* Sizes */
    --size-xss: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}
html {
    scroll-behavior: smooth;
}
.light-mode {
    --bg-clr: #0f0f0f;
    --txt: #f0f0f0b9;
    --txt-hvr: white;
    --crd-brdr: rgba(255, 255, 255, 0.093);
    --crd-upr-fde: black;
    --crd-btm-fde: #0f0f0f;
    --phto-bg: #141414;
    --ques-bg: #0b0b0b;
    --expnd: #141414;
}
body {
    background-color: var(--bg-clr);
    font-family: "Montserrat", Arial, sans-serif;
}
img, picture, video, canvas, svg {
    max-width: 100%;
    user-select: none;
}
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    /* border: 1px solid #b71234; */
    /* The CSS rule above is ONLY for
    viewing the container class! */
}
.section {
    margin-top: 5rem;
}
.btn {
    font-family: "Montserrat", Arial, sans-serif;
    background-color: var(--txt-hvr);
    color: var(--bg-clr);
    font-size: var(--size-base);
    border: none;
    padding: 10px 15px;
    border-radius: 50px;   
    font-weight: 600;
}
