.travel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
}
#travel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 90%;
}
.travel-card {
    width: 17rem;
    height: 10rem;
    background-color: black;
    border-radius: 25px;
    display: flex;
    overflow: hidden; 
    position: relative; 
}
.travel-img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: center; 
    opacity: .5;
}
.travel-title {
    color: white;
    position: absolute;
    bottom: 1rem;
    left: 1.5rem; 
    font-size: var(--size-lg);
    z-index: 1; 
}
#more-txt {
    color: var(--txt);
    font-size: var(--size-base);
    text-align: center;
    margin-top: -.7rem;
    font-weight: 500;
}
#travel-desc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#with-container {
    margin-top: 2rem;
}
#with-title, .sub-with-title {
    color: var(--txt-hvr);
}
#with-title {
    font-size: var(--size-3xl);
}
#with-desc {
    margin-top: .5rem;
    color: var(--txt);
    font-size: var(--size-sm);
    width: 32ch;
    font-weight: 500;
}
.sub-with-title, .sub-with-desc,
#with-title, #with-desc {
    text-align: center;
}
.sub-with-container {
    margin-top: 2rem;
}
.sub-with-title {
    font-size: var(--size-xl);
}
.sub-with-desc {
    margin-top: .5rem;
    color: var(--txt);
    font-size: var(--size-xs);
    width: 32ch;
    font-weight: 500;
}

/* sm = (small) */
@media (min-width: 640px) {
    #travel-container {
        gap: 2rem;
    }
    .travel-card {
        width: 100%;
    }
    .travel-title {
        font-size: var(--size-xl);
    }
    #sub-travel-desc-container {
        display: flex;
        gap: 2rem;
    }
    #more-txt {
        font-size: var(--size-lg);
    }   
    #with-title {
        font-size: var(--size-4xl);
        margin-top: 3rem;
    }   
    #with-desc {
        font-size: var(--size-base);
        margin-top: .7rem;
        width: 45ch;
    }
    .sub-with-container {
        margin-top: 3.5rem;
    }
    .sub-with-title {
        font-size: var(--size-2xl);
    }
    .sub-with-desc {
        margin-bottom: 3rem;
    }
}

/*  lg = (large)  */
@media (min-width: 1024px) {
    #travel-desc-container {
        flex-direction: row;
        gap: 3rem;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }
    #with-container {
        margin-top: 2rem;
        text-align: left;
    }
    #with-title, #with-desc, 
    .sub-with-title, .sub-with-desc {
        text-align: left;
    }
    #with-title {
        margin-top: 0;
    }
    #with-desc {
        font-size: var(--size-lg);
        margin-top: 1rem;
        width: 35ch;
    }
    .sub-with-desc {
        font-size: var(--size-sm);
        width: 32ch;
    }
    #sub-travel-desc-container { 
        flex-direction: column;
        gap: 0rem;
    }
    .sub-with-container {
        height: 6.5rem;
    }
}
