.travel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
}
#travel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 90%;
}
.travel-card {
    width: 17rem;
    height: 10rem;
    background-color: black;
    border-radius: 25px;
    display: flex;
    overflow: hidden; 
    position: relative; 
}
.travel-card, .bento-box {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out,
    transform 0.6s ease-out;
}
.travel-img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: center; 
    opacity: .5;
    border-radius: 25px;
}
.bento-box {
    display: flex;
    overflow: hidden; 
    position: relative; 
}
.fade-in {
    opacity: 1;
    transform: translateY(0);
}
.travel-title,.bento-travel-title {
    color: white;
    position: absolute;
    bottom: 1rem;
    left: 1.5rem; 
    font-size: var(--size-lg);
    z-index: 1; 
}
#more-txt {
    color: var(--txt);
    font-size: var(--size-base);
    text-align: center;
    margin-top: -.7rem;
    font-weight: 500;
}
#travel-desc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#with-container {
    margin-top: 2rem;
}
#with-title, .sub-with-title {
    color: var(--txt-hvr);
}
#with-title {
    font-size: var(--size-3xl);
}
#with-desc {
    margin-top: .5rem;
    color: var(--txt);
    font-size: var(--size-sm);
    width: 32ch;
    font-weight: 500;
}
.sub-with-title, .sub-with-desc,
#with-title, #with-desc {
    text-align: center;
}
.sub-with-container {
    margin-top: 2rem;
}
.sub-with-title {
    font-size: var(--size-xl);
}
.sub-with-desc {
    margin-top: .5rem;
    color: var(--txt);
    font-size: var(--size-xs);
    width: 32ch;
    font-weight: 500;
}
.bento-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 100px;
    gap: 2rem;
    width: 90%;
    margin-left: 15rem;
}
.bento-box {
    background-color: black;
    border-radius: 25px;
}
.box1 {
    grid-column: span 1;
    grid-row: span 4;
}
.box2 {
    grid-column: span 1;
    grid-row: span 4;
}
.box3 {
    grid-column: span 3;
    grid-row: span 2;
}
.box4 {
    grid-column: span 3;
    grid-row: span 2;
}
.box5 {
    grid-column: span 3;
    grid-row: span 2;
}
.box6 {
    grid-column: span 2;
    grid-row: span 2;
}
.bento-grid {
    display: none;
}

/* sm = (small) */
@media (min-width: 640px) {
    #travel-container {
        gap: 2rem;
    }
    .travel-card {
        width: 100%;
    }
    .travel-title {
        font-size: var(--size-xl);
    }
    #sub-travel-desc-container {
        display: flex;
        gap: 2rem;
    }
    #more-txt {
        font-size: var(--size-lg);
    }   
    #with-title {
        font-size: var(--size-4xl);
        margin-top: 3rem;
    }   
    #with-desc {
        font-size: var(--size-base);
        margin-top: .7rem;
        width: 45ch;
    }
    .sub-with-container {
        margin-top: 3.5rem;
    }
    .sub-with-title {
        font-size: var(--size-2xl);
    }
    .sub-with-desc {
        margin-bottom: 3rem;
    }
}

/*  lg = (large)  */
@media (min-width: 1024px) {
    .travel {
        margin-top: 4rem;
    }
    #travel-desc-container {
        flex-direction: row;
        gap: 3rem;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }
    #with-container {
        margin-top: 2rem;
        text-align: left;
    }
    #with-title, #with-desc, 
    .sub-with-title, .sub-with-desc {
        text-align: left;
    }
    #with-title {
        margin-top: 0;
    }
    #with-desc {
        font-size: var(--size-lg);
        margin-top: 1rem;
        width: 35ch;
    }
    .sub-with-desc {
        font-size: var(--size-sm);
        width: 32ch;
    }
    #sub-travel-desc-container { 
        flex-direction: column;
        gap: 0rem;
    }
    .sub-with-container {
        height: 6.5rem;
    }
}

/* xl = (extra large)  */
@media (min-width: 1280px) {
    #travel-desc-container {
        gap: 5rem;
    }
    .travel-card, .travel-title {
        display: none;
    }
    .bento-grid {
        display: grid;
    }
}

/* 2xl = (two extra large)  */
@media (min-width: 1536px) {
    .travel-title,.bento-travel-title {
        font-size: var(--size-xl);
    }
    #travel-desc-container {
        gap: 10rem;
    }
    #with-title {
        font-size: var(--size-5xl);
    } 
    #with-desc {
        font-size: var(--size-xl);
        margin-top: 1.5rem;
    }
    .sub-with-title {
        font-size: var(--size-3xl);
    }
    .sub-with-desc {
        font-size: var(--size-base);
        margin-top: 1rem;
    }
}
