.travel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
}
#travel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 90%;
}
.travel-card {
    width: 17rem;
    height: 10rem;
    background-color: black;
    border-radius: 25px;
    display: flex;
    overflow: hidden; 
    position: relative; 
}
.travel-img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: center; 
    opacity: .5;
}
.travel-title {
    color: white;
    position: absolute;
    bottom: 1rem;
    left: 1.5rem; 
    font-size: var(--size-lg);
    z-index: 1; 
}
#more-txt {
    color: var(--txt);
    font-size: var(--size-base);
    text-align: center;
    margin-top: -.7rem;
    font-weight: 500;
}
#with-container {
    margin-top: 2rem;
}
#with-title, .sub-with-title {
    color: var(--txt-hvr);
    font-size: var(--size-3xl);
}
#with-desc {
    margin-top: .5rem;
    color: var(--txt);
    font-size: var(--size-sm);
    width: 32ch;
    font-weight: 500;
}
.sub-with-title, .sub-with-desc,
#with-title, #with-desc {
    text-align: center;
}
.sub-with-container {
    margin-top: 2rem;
}
.sub-with-title {
    font-size: var(--size-xl);
}
.sub-with-desc {
    margin-top: .5rem;
    color: var(--txt);
    font-size: var(--size-xs);
    width: 32ch;
    font-weight: 500;
}

/* sm = (small) */
@media (min-width: 640px) {
    #travel-container {
        gap: 2rem;
    }
    .travel-card {
        width: 100%;
    }
    .travel-title {
        font-size: var(--size-xl);
    }
    #more-txt {
        font-size: var(--size-lg);
    }   
}
